*{
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    text-align: center;
    background-color: rgb(144, 165, 179);
}
#result {
    background-image: url("../img/cauldron.png");
}
#ingredients {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8em 8em;
}
#firstimage {
    background-image: url("../img/carrot.png");
    height: 15em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#secondimage {
    background-image: url("../img/salt.png");
    height: 15em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
img{
    height: 20em;
}
#fusebutton, a{
    background-color: rgb(103, 158, 206);
    border: 1px solid darkblue;
    padding: 1em;
    margin-top: 5em;
    border-radius: 1em;
}